@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
$font-stack : 'Poppins', sans-serif;
$font-weight: 400;
$light-color: #eee;
$dark-color: #222;

/*major 3rd*/
$xxl: 3.052rem;
$xl: 2.441rem;
$l: 1.953rem;
$m : 1.563rem;
$s : 1.25rem; 
$xs : 1rem;

* {
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    font-weight: $font-weight;
    user-select: none;
}

body{
    margin:0;
    padding:0;
    background-color:$light-color;
    font-family: $font-stack;
}


header{
    position: relative;
    height: auto;
    display: flex;
    gap:0.5rem 3rem;
    flex-wrap: wrap;
    padding: 0 0;
    z-index: 20;
}

.flex-btn{
    display: flex;
    button,
    a{
        width: 3rem;
        display: inline-block;
        border-radius: none;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        border: 1px $dark-color solid;
        color: $dark-color;
        img{
            width: 0.9rem;
            margin:auto;
            margin-top: 0.2rem;
            display: block;
        }
    }
}

.main-wrapper {
    width: 99%;
    height: min-content;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.note-info {
    height: 100%;
    position: relative;
    background-color: #aaa;
    display: grid;
    grid-template-areas: 
    "A B"
    "A ."
    "A C"
    "D D"
    "E E"
    ;

    > * {
        text-align: center;
    }
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: slideFromTop;
}

.note-info:hover {
    cursor: pointer;
}

.note-letter {
    font-size: 8rem;
    grid-area: A;
    height: min-content;
    width: 7rem;
}

.sharp-flat {
    grid-area: B;
    font-size: $xl;
}

.maj-min {
    grid-area: C;
    font-size: $l;
}

.roman-numeral {
    grid-area: D;
    font-size: $l;
    background-color: #777;
    color: $light-color;
}
.alternative-note {
    grid-area: E;
    font-size: $s;
    background-color: #eee;
}


@keyframes slideFromTop{
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@for $i from 1 through 8 {
    .main-wrapper div:nth-child(#{$i}) {
        animation-delay:(#{$i*0.1s}); 
    }
}

.invert{
    filter: invert(1);
}



.welcome-text {
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: slideFromTop;
    .welcome{
        font-size: 3rem;
        line-height: 0;
        margin-left: -0.5rem;
    }
    a{
        text-decoration: none;
    }
}

.darkbg{
    background-color: $dark-color;
}

@media (max-width: 800px){
    header{
        position: relative;
        gap: 0.2rem 0.5rem;
    }
    .main-wrapper{
        flex-direction: column;
        margin: auto;
        flex-wrap: wrap;
        .welcome-text{
            .welcome{
                font-size: 2rem;
                margin: 0;
            }
        }
        .note-info{
            display: flex;
            align-items: stretch;
            align-content: stretch;
            justify-items: center;
            width: 70%;
            padding: 0;
            > * {
                justify-self: stretch;
                margin: auto;
                padding: 0;
                margin: 0;
            }
            .note-letter{
                font-size: $xxl;
                width: 25%;
            }
            .sharp-flat {
                font-size: $m;
                justify-self: stretch;
                width: 10%;
            }
            
            .maj-min {
                font-size: $m;
                width: 25%;
            }
            
            .roman-numeral {
                font-size: $l;
                width: 20%;
            }
            .alternative-note {
                font-size: $s;
                width: 20%;
                background-color: #ddd;
            }
        }
    }
}

@media(max-height: 700px) and (max-width:650px){
    html{
        height: auto;
        width: auto;
        overflow-x: hidden;
    }
    .main-wrapper{
        position: relative;
        margin-top: 2rem;
        height: auto;
        .note-info{
            .note-letter{
                font-size: 2rem;
            }
        }
    }
}